{
{% if K3S_GPU_ENABLE is defined and K3S_GPU_ENABLE|bool %}
    "default-runtime": "nvidia",
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        }
    }
{% endif %}
}
